# Ignore development and test files
**/__tests__
**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts

# Ignore build artifacts
.next
out

# Ignore package manager files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore version control directories
.git
.svn

