# Ignore environment variables file
.env

# Ignore Node.js dependencies
node_modules/

# Ignore build artifacts
.next/
out/

# Ignore package manager logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
